@import "common";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font: bold 20px 'Courier';
}

#main {
  width: 360px;
  height: 420px;
  background-color: $bg-color;
  color: $color;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: solid 10px $color;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #stage {
    width: 304px;
    height: 304px;
    border: solid 2px $color;
    position: relative;
  }
}
